@import url("./font.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi-Regular";
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
*::selection {
  color: white;
  background: #81bfda;
}
.heading {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 5vh auto 0;
  align-items: center;
}
#user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.heading .profilepic {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  border: 2px solid rgb(0, 0, 0);
}
.heading .profilepic img {
  height: 24px;
  z-index: -1;
}
.heading h2 {
  font-size: 2.8vw;
}
.heading .btn {
  display: flex;
  gap: 6px;
  align-items: center;
}
.btn .bucket {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
  background: #81bfda;
  font-size: 18px;
  font-family: "Satoshi-Bold";
  cursor: pointer;
  padding: 20px 12px;
}
.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
  background: #ff6363;
  font-size: 18px;
  font-family: "Satoshi-Bold";
  cursor: pointer;
  padding: 20px 12px;
}
.map {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#map {
  width: 80%;
  height: 90vh;
  overflow: hidden;
  border-radius: 20px;
}
.popup {
  font-family: "Satoshi-Bold";
}
#suggestions li:hover {
  background-color: #f0f0f0;
}

#suggestions {
  position: absolute;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  border-radius: 10px;
  top: 46px;
}

.temp {
  /* height: 100vh; */
  background: red;
}
.add {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.blob {
  display: flex;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background-color: #b1f0f7;
  position: absolute;
  z-index: -2;
  filter: blur(40px);
  top: -80%;
  left: -20%;
  animation-name: move-blob;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
.blob2 {
  display: flex;
  height: 600px;
  width: 600px;
  border-radius: 50%;
  background-color: #b1f0f7;
  position: absolute;
  z-index: -2;
  filter: blur(30px);
  top: -80%;
  left: -45%;
  animation-name: move-blob2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
.add form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.add form input {
  outline: none;
  border: 0.4px solid black;
  font-size: 16px;
  height: 46px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #ffffff66;
  border-radius: 10px;
  justify-content: end;
  padding: 12px;
}
.add form textarea {
  outline: none;
  border: 0.4px solid black;
  background: #ffffff66;
  font-size: 16px;
  height: 140px;
  padding: 12px;
  border-radius: 10px;
  resize: none;
}
.add form button {
  height: 46px;
  border-radius: 22px;
  outline: none;
  border: none;
  color: white;
  background: #81bfda;
  font-size: 16px;
  font-family: "Satoshi-Medium";
  cursor: pointer;
}
.add img {
  height: 60vh;
}
.location {
  width: 80%;
  margin: 20px auto;
}
.location ul {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  justify-content: space-between;
  row-gap: 2.5vw;
}
.city-list {
  margin-bottom: 1vh;
}
.location .city-list li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: 15vw;
  border-radius: 10px;
  font-size: 16px;
}
.location li img {
  filter: blur(0.2px);
  object-fit: cover;
  z-index: -2;
  height: 15vw;
  filter: brightness(75%);
}
.location li .data {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  gap: 12px;
}
.location li .data a {
  color: white;
  font-family: "Satoshi-Black";
  font-size: 28px;
  text-align: center;
}
.location button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
  background: #81bfda;
  font-size: 16px;
  font-family: "Satoshi-Medium";
  cursor: pointer;
  padding: 8px;
  z-index: 5;
}
.sub-heading {
  display: flex;
  align-items: center;
}
.goal {
  position: relative;
  margin: 3vw 0 2vw;
  display: flex;
  justify-content: space-between;
}
.blob3 {
  display: flex;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-color: #b1f0f7;
  position: absolute;
  z-index: -99;
  filter: blur(40px);
  /* transform: translate(-50%,-50%); */
  top: -40vh;
  right: -35%;
  animation-name: move-blob3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
.goal .left {
  display: flex;
  align-items: center;
  gap: 2vw;
}
.goal .right {
  display: flex;
  align-items: center;
  text-align: right;
  font-size: 1.4vw;
  font-weight: 700;
}
.goal img {
  height: 8vw;
}
.goal h3 {
  font-size: 5vw;
}
.sub-heading h3 {
  font-size: 3.6vw;
  display: flex;
  align-items: center;
  margin: 2vh 0;
  gap: 4px;
}
.sub-heading h3 span {
  font-family: "AppleGaramound-Italic";
  font-weight: 200;
  font-size: 4vw;
}
.bottom-logout {
  width: 80%;
  margin: 5vw auto;
}
.bottom-logout a {
  display: flex;
  justify-content: center;
}
.bottom {
  height: 90px;
}

@keyframes move-blob {
  from {
    transform: translate(-40px, -30px);
  }
  to {
    transform: translate(35px, 45px);
  }
}
@keyframes move-blob2 {
  from {
    transform: translate(30px, 0px);
  }
  to {
    transform: translate(-30px, 20px);
  }
}
@keyframes move-blob3 {
  from {
    transform: translate(40px, -10px);
  }
  to {
    transform: translate(-30px, 20px);
  }
}
