<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/city.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />
    <title>{{ current_user.username }} - {{city.name.split(",")[0]}}</title>
  </head>
  <body>
    <div class="top">
      <div class="blob1"></div>
      <div class="blob2"></div>
      <div class="left">
        <h2>{{city.name}}</h2>
        <h4>{%if city.visited%} Explored {%else%} In the bucket {%endif%}</h4>
        <p>{%if city.detail %} {{city.detail}} {%else%} No details {%endif%}</p>
      </div>
      <div
        id="map1"
        data-lat="{{ city.latitude }}"
        data-lon="{{ city.longitude }}"
        data-name="{{ city.name }}"
      ></div>
    </div>
    <div class="images-box">
      <h3>Memories</h3>
      <div class="image-list">
        {%if not uploads%}
        <p>Add Photos</p>
        {%endif%} {%if uploads%} {% for upload in uploads %}
        <div class="box">
          <img
            src="{{ url_for('static', filename=upload.file_path) }}"
            alt="{{ upload.file_path.split('/')[-1] }}"
          />
        </div>
        {% endfor %} {%else%} {%endif%}
      </div>
    </div>
    <div class="third">
      <form class="upload" method="POST" enctype="multipart/form-data">
        <h2>Upload New Image:</h2>
        <label for="file">Choose an image:</label>
        <input type="file" name="file" id="file" accept="image/*" multiple />
        <button type="submit">Upload</button>
      </form>
      <div class="bottom">
        <a href="{{city.id}}/delete"><button class="delete">delete</button></a>
      </div>
      <div class="bottom-img-class">
        <img class="bottom-img" src="../static/Images/wave.png" alt="" />
      </div>
    </div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
      const mapDiv = document.getElementById("map1");
      const latitude = mapDiv.getAttribute("data-lat");
      const longitude = mapDiv.getAttribute("data-lon");
      const cityname = mapDiv.getAttribute("data-name");
      const map1 = L.map("map1", {
        center: [latitude, longitude],
        zoom: 4,
        dragging: false,
        scrollWheelZoom: false,
        doubleClickZoom: false,
        boxZoom: false,
        keyboard: false,
        touchZoom: false,
        zoomControl: false,
      });

      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png").addTo(
        map1
      );

      var color = "#7fad1a";
      var marker = L.marker([latitude, longitude], {
        icon: L.divIcon({
          className: `marker-${color}`,
          html: `<svg style="fill:${color};height:14px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M384 192c0 87.4-117 243-168.3 307.2c-12.3 15.3-35.1 15.3-47.4 0C117 435 0 279.4 0 192C0 86 86 0 192 0S384 86 384 192z"/></svg>`,
        }),
      }).addTo(map1);
    </script>
  </body>
</html>
