<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Uploads</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <link rel="stylesheet" href="../static/css/home.css" />
  </head>
  <body>
    <div class="main">
      <div class="heading"><h2>Hello {{ current_user.username }}</h2></div>
      <div class="map"><div id="map"></div></div>
      <div class="add">
        <form action="/add" method="POST">
          <input
            type="text"
            id="city-search"
            name="city"
            placeholder="Search for a city"
            autocomplete="off"
            required
          />
          <ul
            id="suggestions"
            style="
              list-style-type: none;
              padding: 0;
              border: 1px solid #ccc;
              max-height: 150px;
              overflow-y: auto;
              display: none;
            "
          ></ul>
          <textarea
            id="textarea"
            name="famous_places"
            placeholder="Add details"
          ></textarea>
          <button type="submit">Add Destination</button>
        </form>
      </div>
      <div class="location">
        <ul id="city-list">
          {% for city in cities %}
          <li>
            {{ city.name }}
            <button onclick="visitCity('{{city.id}}')">
              {% if city.visited %}
              Visited
              {% else %}
              Mark as Visited 
              {% endif %}
            </button>
          </li>
          {% endfor %}
        </ul>
      </div>

      <a href="{{ url_for('logout') }}">Logout</a>
      <div class="temp"></div>
    </div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="../static/script/home.js"></script>
  </body>
</html>
