<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ current_user.username }} - WanderMap</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <link rel="stylesheet" href="../static/css/home.css" />
  </head>
  <body>
    <div class="main">
      <div class="heading">
        <div id="user">
          <div class="profilepic">
            <img src="../static/Images/user.png" alt="" />
          </div>
          <h2>{{ current_user.username }}</h2>
        </div>
        <div class="btn">
          <a href=""><button class="bucket">Your Bucket</button></a>
          <a href="{{ url_for('logout') }}"
            ><button class="logout">Logout</button></a
          >
        </div>
      </div>
      <div class="map"><div id="map"></div></div>

      <div class="add">
        <div class="blob"></div>
        <div class="blob2"></div>
        <form action="/add" method="POST">
          <input
            type="text"
            id="city-search"
            name="city"
            placeholder="Search for a city"
            autocomplete="off"
            required
          />
          <ul
            id="suggestions"
            style="
              list-style-type: none;
              padding: 0;
              border: 1px solid #ccc;
              max-height: 150px;
              overflow-y: auto;
              display: none;
            "
          ></ul>
          <textarea
            id="textarea"
            name="famous_places"
            placeholder="Add details"
          ></textarea>
          <button type="submit">Add Destination</button>
        </form>
        <img src="../static/Images/six.png" alt="" />
      </div>
      <div id="locations" class="location">
        <div class="sub-heading">
          <h3>Your <span> Bucket</span></h3>
        </div>
        <ul class="city-list">
          {% for city in cities %} {% if not city.visited %} {% set image_index
          = loop.index0 % 6 + 1 %}
          <li>
            <img src="../static/Images/bucket{{ image_index }}.jpg" alt="" />
            <div class="data">
              <a href="/{{ city.id }}"> {{ city.name.split(",")[0] }}</a>
              <button onclick="visitCity('{{ city.id }}')">Mark visited</button>
            </div>
          </li>
          {% endif %} {% endfor %}
        </ul>
        <div class="goal">
          <div class="blob3"></div>
          <div class="left">
            <!-- <img src="../static/Images/airplane.png" alt="" /> -->
            <h3>{{visited_count}}/{{total_count}}</h3>
          </div>
          <div class="right">
            <p>Countries visited <br />till date</p>
          </div>
        </div>
        <div class="sub-heading">
          <h3><span>Memories</span></h3>
        </div>
        <ul class="city-list">
          {% for city in cities %} {% if city.visited %} {% set image_index =
          loop.index0 % 6 + 1 %}
          <li>
            <img src="../static/Images/bucket{{ image_index }}.jpg" alt="" />
            <div class="data">
              <a href="/{{ city.id }}"> {{ city.name.split(",")[0] }}</a>
              <button onclick="visitCity('{{ city.id }}')">Mark visited</button>
            </div>
          </li>
          {% endif %} {% endfor %}
        </ul>
      </div>
      <div class="bottom-logout">
        <a href="{{ url_for('logout') }}"
          ><button class="logout">Logout</button></a
        >
      </div>
      <img class="bottom" src="../static/Images/wave.png" alt="" />
      <div class="temp"></div>
    </div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="../static/script/home.js"></script>
  </body>
</html>
