<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css"
    />
    <link rel="stylesheet" href="../static/css/login.css" />
  </head>
  <body>
    <div id="main">
      <svg
        class="rightsvg"
        viewBox="0 0 566 840"
        xmlns="http://www.w3.org/2000/svg"
      >
        <mask id="mask0" mask-type="alpha">
          <path
            d="M342.407 73.6315C388.53 56.4007 394.378 17.3643 391.538 
           0H566V840H0C14.5385 834.991 100.266 804.436 77.2046 707.263C49.6393 
           591.11 115.306 518.927 176.468 488.873C363.385 397.026 156.98 302.824 
           167.945 179.32C173.46 117.209 284.755 95.1699 342.407 73.6315Z"
          />
        </mask>

        <g mask="url(#mask0)">
          <path
            d="M342.407 73.6315C388.53 56.4007 394.378 17.3643 391.538 
           0H566V840H0C14.5385 834.991 100.266 804.436 77.2046 707.263C49.6393 
           591.11 115.306 518.927 176.468 488.873C363.385 397.026 156.98 302.824 
           167.945 179.32C173.46 117.209 284.755 95.1699 342.407 73.6315Z"
          />

          <!-- Insert your image (recommended size: 1000 x 1200) -->
          <image href="../static/Images/backgroundalt.jpg" />
        </g>
      </svg>

      <div class="login-container">
        <div class="heading"><h2>Create Account</h2></div>
        <div class="login-form-container">
          <form action="/register" method="post" class="login-form">
            <div class="login-content grid">
              <div class="login-box">
                <input
                  type="text"
                  name="username"
                  required
                  placeholder=" "
                  class="login-input"
                />
                <label for="username" class="login-label">Username</label>
              </div>
              <div class="login-box">
                <input
                  type="email"
                  name="email"
                  required
                  placeholder=" "
                  class="login-input"
                />
                <label for="email" class="login-label">Email</label>
              </div>

              <div class="login-box">
                <input
                  type="password"
                  name="password"
                  required
                  placeholder=" "
                  class="login-input"
                />
                <label for="password" class="login-label">Password</label>
              </div>
            </div>
            <button type="submit" class="login-button">Register</button>
          </form>
        </div>
        <div class="social-login">
          <h4>or login with</h4>
          <div class="icons">
            <object data="../static/Images/google.svg" type="image/svg+xml"></object>
            <object data="../static/Images/apple.svg" type="image/svg+xml"></object>
          </div>
        </div>
        <div class="change">
          <p>Already a user ? <a href="{{url_for('login')}}"><span>Login</span></a></p>
        </div>
      </div>
    </div>
  </body>
</html>
